{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head_js%} {% endblock %}
{% block body %}

    <!--Links to the login handler-->
    Login with <a href="login/facebook">Facebook</a>.<br />
    Login with <a href="login/twitter">Twitter</a>.<br />
    <!-- Login with <a href="login/yahoo">Yahoo</a>.<br /> -->
    Login with <a href="login/google">Google</a>.<br />
    Login with <a href="login/github">Github</a>.<br />
    Login with <a href="login/linkedin">LinkedIn</a>.<br />
{% endblock %}