version: "3"
services:
  backend:
    restart: always
    build:
      dockerfile: Dockerfile
      context: "./backend"
    environment:
      - FLASK_ENV=prod
    expose:
      - "5000"
  frontend:
    restart: always
    build:
      dockerfile: Dockerfile
      context: "./frontend"
    ports:
      - "8080:80"
  api:
    restart: always
    build:
      dockerfile: Dockerfile
      context: "./api"
    expose:
      - "3000"
