version: "3"
services:
  backend:
    restart: always
    build:
      dockerfile: Dockerfile
      context: "./backend"
    volumes:
      - "/usr/app/venv"
      - "./backend:/usr/app"
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      - FLASK_ENV=prod
      - FLASK_APP=wsgi.py
    expose:
      - "5000"
  frontend:
    restart: always
    build:
      dockerfile: Dockerfile
      context: "./frontend"
    ports:
      - "80:80"
  api:
    restart: always
    build:
      dockerfile: Dockerfile
      context: "./api"
    volumes:
      - "./api:/usr/app"
    expose:
      - "3000"
