version: "3"
services:
  backend:
    build:
      dockerfile: Dockerfile.dev
      context: "./backend"
    volumes:
      - "/usr/app/venv"
      - "./backend:/usr/app"
    environment:
      - FLASK_ENV=dev
      - FLASK_APP=wsgi.py
    ports:
      - "5000:5000"
  frontend:
    build:
      dockerfile: Dockerfile.dev
      context: "./frontend"
    volumes:
      - "/usr/app/node_modules"
      - "./frontend:/usr/app"
    ports:
      - "8080:8080"
  api:
    build:
      dockerfile: Dockerfile.dev
      context: "./api"
    volumes:
      - "/usr/app/local"
      - "./api:/usr/app"
    expose:
      - "3000"
