GOOGLE_KEY=**insert here your google key**
GOOGLE_SECRET=**insert here your google secret**
GITHUB_KEY=**insert here your github key**
GITHUB_SECRET=**insert here your github secret**
FACEBOOK_KEY=**insert here your facebook key**
FACEBOOK_SECRET=**insert here your facebook secret**
MICROSOFT_KEY=**insert here your microsoft key**
MICROSOFT_SECRET=**insert here your microsoft secret**
